<br /><br />

<h3>Groups</h3>

<br />

<% @groups.each do |g| %>
  <div><%= g.title %></div>
  <div><%= g.created_at %></div>
  
  <div><%= link_to 'View/Edit', :controller => "groups", :action => "edit", :id => g.id %></div>
  <br /><br />
<% end %>
