<br /><br />

<h3>Groups</h3>

<br />

<% @groups.each do |g| %>
  <div><%= link_to g.title, :controller => 'bookmarks', :action => 'show', :id => g.id %></div>
  <div><%= g.created_at %></div>
  <div><%= edit_group_link current_user, g %></div>
  <br /><br />
<% end %>
