<br /><br />

<h3>Groups</h3>

<br />

<% @groups.each do |g| %>
  <div><%= link_to g.title, :controller => 'bookmarks', :action => 'show', :id => g.id %></div>
  <div><%= g.created_at %></div>
  
  <div><%= link_to 'Edit', :controller => 'groups', :action => 'edit', :id => g.id %></div>
  <br /><br />
<% end %>
