<div id="header_flexbox">

  <div id="logo-text-container">
      <div id="header-logo"></div>
      <div id="masthead-container">
        <div id='masthead-title'>Bookmark Squirrel</div>
        <div id='masthead-tagline'>Bookmark sharing for hoarders</div>
      </div>
  </div>

    <% if current_user %>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>

      <div class="menu">
        <ul>
          <a href="<%= root_path %>"><li>Home</li></a>
          <a href="<%= user_groups_path %>"><li>Groups</li></a>
          <a href="<%= show_user_path %>"><li>My Profile</li></a>
          <a href="<%= destroy_user_session_path %>" title="Logout" rel="nofollow" data-method="delete"><li>Logout</li></a>
        </ul>
      </div>
    <% end %>

</div>
