    <div id="header_flexbox">

      <div class="nav_link_container">
      
        <% if current_user %>
          <%= link_to root_path, title: "Home" do %>
            <button class="btn_header">Home</button>
          <% end %>
        <% end %>

        <div class="break" style="height: 20px;"></div>

        <% if current_user %>
          <%= link_to user_groups_path, title: "Groups" do %>
            <button class="btn_header">Groups</button>
          <% end %>
        <% end %>
      
      </div>
      
      <div id="logo-text-container">
          <div id="header-logo"></div>
          <div id="masthead-container">
            <div id='masthead-title'>Bookmark Squirrel</div>
            <div id='masthead-tagline'>Bookmark sharing for hoarders</div>
          </div>
      </div>

      <div class="nav_link_container">

        <% if current_user %>
          <%= link_to show_user_path, title: "My Profile" do %>
            <button class="btn_header">My Profile</button>
          <% end %>
        <% else %>
          &nbsp;
        <% end %>

        <div class="break" style="height: 20px;"></div>

        <% if current_user %>
          <%= link_to destroy_user_session_path, title: "Logout", method: :delete do %>
            <button class="btn_header">Logout</button>
          <% end %>
        <% end %>

      </div>

    </div> <!-- /header_flexbox -->
