<div id="fixed_footer" class="footer">
        <div id='functional_row_bottom'>
            <div id="footer_cell_a" class="footer_cell_a">
                &nbsp;
            </div>

            <div id="footer_cell_b" class="footer_cell_b">
                <div id="copyright">
                  &copy; <%= Time.now.year %> <a href='mailto:jerry@technophobic.org'>Technophobic Software</a>
                </div>
            </div>
            
            <div id="footer_cell_c" class="footer_cell_c">
                &nbsp;
            </div>

            <!-- <br style="clear: left;" /> -->

        </div> <!-- functional_row_bottom -->
    </div>
