body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    height: 100%;
    color: #001f3f;
    /* background-image: linear-gradient(rgb(239, 255, 239), rgb(75, 134, 75)); */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FDF4E3;
}

a:link {
    color: #3575bd;
    text-decoration: none;
}

a:visited {
    color: #3575bd;
}

a:hover {
    color: #3575bd;
    text-decoration: underline;
}

a:active {
    color: #3575bd;
} 

HR {
   border: 0;
   height: 1px;
   background: #001f3f;
}

/*  Can be used to make a vertical spacer. 
  Just set a 'height=10px' or whatever on the actual div or other element. */
.break {
  display: block;
}

.header {
    overflow: hidden;
    /*background-color: white;*/
    color: #f0ddd8;
    /*color: #FDF4E3;*/
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    /* margin: 0 auto; */
    /*background-color: #85ac85;*/
    /*background-color: #633327;*/
    background-color: #3C3431;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header a:hover {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    /*color: black;*/
    color: #fff;
    text-align: center;
    border-top: 1px solid black;
    overflow: hidden;
    background-color: #705446;
    /* height: 150px; */
    /* margin: 0 auto; */
    padding-top: 5px;
    padding-bottom: 5px;
}

#outer_container {
    width: 100%;
    margin: 0 auto;
    /*text-align: center;*/
    /*background-color: rgb(239, 255, 239);*/
    /* background-image: linear-gradient(rgb(239, 255, 239), rgb(91, 134, 91)); */
    /* -webkit-box-shadow: 7px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 17px 5px 0px rgba(0,0,0,0.75); */

    margin-top: 65px; /* Add a top margin to avoid content overlay */
    margin-bottom: 55px;
}

#functional_row_top {
    padding-top: 3px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#functional_row_bottom {
    padding-top: 3px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header_cell_a {
    text-align: center;
    overflow: auto;
    width: 20%;
    float: left;
}

.header_cell_b {
    width: 60%;
    float: left;
    vertical-align: middle;
}

.header_cell_b a {
    /*color: #f0ddd8;*/
    color: #FDF4E3;
}

.header_cell_c {
    text-align: center;
    overflow: auto;
    width: 18%;
    float: left;
}

#mastheadTitle {
    font-size: 1.1rem;
    font-weight: bold;
}

#mastheadTagline {
    font-size: .75rem;
}

#copyright {
    font-size: .8rem;
    color: #000;
}

#copyright a {
    color: #000;
}

.user_edit_section {
    /*width: 90%;*/
    height: 40px;
    /*background: aqua;*/
    margin: auto;
    /*padding: 10px;*/
    border-top: 2px solid #705446;
    padding-top: 5px;
}

.user_edit_field_1 {
    width: 20%;
    height: 40px;
    /*background: red;*/
    float: left;
}

.user_edit_field_2 {
    margin-left: 20%;
    height: 40px;
    /*background: black;*/
}
